@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes skeleton {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

:root {
  --skeleton-gradient-from: rgba(0, 0, 0, 0.06);
  --skeleton-gradient-to: rgba(0, 0, 0, 0.15);
}

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  .skeleton {
    background: linear-gradient(
      90deg,
      var(--skeleton-gradient-from) 25%,
      var(--skeleton-gradient-to) 37%,
      var(--skeleton-gradient-from) 63%
    );
    background-size: 400% 100%;
    @apply rounded;
  }
  .skeleton.active {
    @apply animate-skeleton;
  }
  input {
    @apply rounded-md border border-gray-300 p-2 py-1 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500;
  }
  button.primary {
    @apply rounded bg-indigo-500 px-4 py-2 font-bold text-white hover:bg-indigo-600;
  }
}
